.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
padding-bottom: 20px;
  border-radius: 10px;

  
}
.input {
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: white;
  border: 3px solid rgb(54, 144, 144);
  
}
.input:focus {
  outline: none;
}
.input:hover {
  background-color:  rgb(54, 144, 144,0.3)
}
